@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /*background-color: #0C1132;*/
}
body {
    font-family: 'League Spartan', sans-serif!important;
    width: 100dvw;
    min-height: 100dvh;
    margin: 70px 0px 0px 0px!important;
    padding: 0;
     background-color: #EFF0F8!important;;
}